
body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    display: flex;
    flex-direction: column;
    background: url("../../background/800252.png") center/cover no-repeat;
}